{% extends 'registration/home.html' %}

{% load static %}

{% block title %}
<title>Profile</title>
{% endblock title %}

{% block basecontent %}


    <h4>Hi {{nm.username}}</h4>
    <div class="container">
        <div class="row">
            <div class="col-md-2">
                {% if users != None %}
                <h4>All users profiles</h4>
                <ul class="list-group">
                    {% for user in users %}
                    <li class="list-group-item">
                    <a href="{% url 'userdetails' user.id %}" class="list-group-item list-group-item-action">{{user.username}}</a>
                    {% comment %} <a href="{% url 'userdetails' user.id %}">{{user.username}}</a> <br>  <br> {% endcomment %}
                    </li>
                    {% endfor %}
                </ul>
                {% endif %}

                <h4>Chat users</h4>
                <ul class="list-group">
                    {% for oneuser in chat_users %}
                    <li class="list-group-item">
                    <a href="{% url 'create_chatgroup' nm.id oneuser.id %}" class="list-group-item list-group-item-action">
                        {{oneuser.username}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <h4>Chat Groups</h4>
                <ul class="list-group">
                    {% for group in all_groups %}
                    <li class="list-group-item">
                    <a href="{% url 'community_chat' group.name %}" class="list-group-item list-group-item-action">
                        {{group.name}}</a>
                    </li>
                    {% endfor %}
                </ul>
                <br>
                <a href="{% url 'create_communitygroup' %}" class="btn btn-warning">
                    Create Group</a>
                <br>
                {% if messages %}
                {% for msg in messages %}
                    {{msg}}
                {% endfor %}
                {% endif %}
            </div>

            <div class="col-md-10">
                <form action="" method="POST" novalidate>
                    {% csrf_token %}
                    {% for foo in FORM %}
                    <div class="form-group col-3">
                        {{foo.label_tag}} <br>{{foo}} {{form.errors | striptags}}
                    </div> <br>
                    {% endfor %}
                    <input type="submit" value="Update profile" class="btn btn-warning">
                </form>
                <br>
                <a href="{% url 'chpass' %}" class="btn btn-warning">Password Change</a>
                <br>
                <br>
                <a href="{% url 'logout' %}" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
{% endblock basecontent %}