{% extends 'registration/create.html' %}
{% load static %}


{% block title %}
<title>User Details</title>
{% endblock title %}


{% block formcontent %}
<div class="container mt-5">
    <form action="" method="GET" class="d-inline" novalidate>
        {% csrf_token %}
        {% for form in FORM %}
        <div class="form-group col-3">
            {{form.label_tag}}  <br>
            {{form}} {{form.errors|striptags}}
        </div>
        {% endfor %}
        <input type="submit" value="Done" class="btn btn-warning">
    </form>
</div>
{% endblock formcontent %}